/**
* Sidebar
**/

.home-page .btn-group {
    position: absolute !important;
    right: 40px;
}

.sidebar .option {
    padding: 5px !important;
}

.sidebar .parent {
    background-color: #ddd;
    font-weight: bold !important;
    text-transform: uppercase;
}